langchain
ipykernel
python-dotenv
langchain_community 
langchain-community 
Pypdf 
Bs4 
langchain_text_splitters 
langchain_openai 
Sentence-transformers 
langchain_huggingface 
Faiss-cpu 
Chromadb 
langchain_chroma 
Streamlit 
langchain_groq
langchain_core
fastapi
uvicorn
langserve[all]
sse_starlette
python-dotenv
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
yt_dlp
youtube-transcript-api
#meftal fort 
#omez
#flagel 400
pymongo
reportlab
googletrans